In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Loading and previewing the data

In [2]:
user_info = pd.read_csv("user_info.csv")
user_info.head(3)

,user_id,favorite_pizza_topping,favorite_ice_cream_flavor,apm,income,grade,height,reaction_time,city,age,...,9,4,13,14,0,11,6,3,12,7
0,78389,Pineapple,Red Velvet,154,100,Z,176,353,A-town,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,79235,Ham,Red Velvet,193,95,Y,182,250,C-borough,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,78816,Pineapple,NaN,180,97,Z,177,311,A-town,67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
churn = pd.read_csv("churn.csv")
churn.head(3)

   user_id churn
0    79153    no
1    78612   yes
2    78875   yes

In [4]:
activity_record = pd.read_csv('activity_record.csv')
activity_record.head(3)

   user_id             event                      timestamp
0    79005     product_visit  2015-02-14 14:45:11.000000000
1    78397  account_verified  2015-02-02 08:32:11.000000000
2    78710  account_verified  2015-01-28 12:04:09.000000000

# Data pre-processing of user_info

# Checking the data and handling the missing values

In [5]:
user_info.isnull().sum()

user_id                         0
favorite_pizza_topping         43
favorite_ice_cream_flavor      55
apm                             0
income                          0
grade                          46
height                          0
reaction_time                   0
city                           48
age                             0
company                        63
kappa_ability                   0
weight                          0
amount                          0
gregariousness                  0
9                            1000
4                            1000
13                           1000
14                           1000
0                            1000
11                           1000
6                            1000
3                            1000
12                           1000
7                            1000
dtype: int64

Dropping the columns which have all the null values

In [6]:
user_info.drop(columns=['9','4','13','14','0','11','6','3','12','7'], inplace=True)

In [7]:
# Checking the mean of missing values and sorting them ascending

user_info.isnull().mean().sort_values(ascending=True)

user_id                      0.000
apm                          0.000
income                       0.000
height                       0.000
reaction_time                0.000
age                          0.000
kappa_ability                0.000
weight                       0.000
amount                       0.000
gregariousness               0.000
favorite_pizza_topping       0.043
grade                        0.046
city                         0.048
favorite_ice_cream_flavor    0.055
company                      0.063
dtype: float64

# Checking if the values are missing at Random or Not at Random

# 1. Filtering the missing rows and analysing the features

In [8]:
user_info[user_info['favorite_pizza_topping'].isnull()]

,user_id,favorite_pizza_topping,favorite_ice_cream_flavor,apm,income,grade,height,reaction_time,city,age,company,kappa_ability,weight,amount,gregariousness
27,79180,NaN,Vanilla,172,108,Z,172,335,A-town,48,Pause Associates,5714,166,20,38
44,78353,NaN,Cookies and Cream,205,97,Y,186,290,C-borough,27,Pause Associates,329,148,79,56
51,78270,NaN,NaN,175,114,X,178,318,A-town,37,Pause Associates,141,152,19,58
62,78616,NaN,Cookies and Cream,198,105,Z,178,350,C-borough,35,Pause Associates,3781,162,18,44
70,78442,NaN,Orange Sherbert,157,103,Z,179,275,A-town,29,Go LLC,1039,150,28,37
148,78805,NaN,Red Velvet,214,97,Y,188,368,A-town,37,Go LLC,1871,139,20,66
159,78955,NaN,Strawberry,202,95,Z,174,284,A-town,21,Go LLC,569,149,17,50
175,78447,NaN,Chocolate,144,107,Y,179,356,A-town,48,Pause Associates,2812,159,19,45
190,79066,NaN,Pistachio,160,104,X,176,285,B-ville,41,Pause Associates,651,170,3,63
246,78962,NaN,Cheesecake,185,104,Y,178,305,C-borough,26,Pause Associates,951,157,2,46
282,78406,NaN,Neapolitan,136,106,Y,181,299,C-borough,28,Pause Associates,710,151,42,68
312,78848,NaN,Chocolate,167,108,X,175,309,C-borough,64,Stop Inc,642,154,11,30
321,78820,NaN,Vanilla,163,107,Z,176,318,A-town,55,Pause Associates,1155,165,1,49
349,79061,NaN,Cookies and Cream,155,97,Y,179,281,A-town,40,NaN,1330,151,108,48
404,78299,NaN,Butter Pecan,232,101,Y,176,264,C-borough,47,Go LLC,719,155,49,45
418,78425,NaN,Peach,202,96,Y,171,269,C-borough,30,Pause Associates,3188,161,40,47
463,79003,NaN,Butter Pecan,149,95,Z,180,272,C-borough,45,Go LLC,5548,152,13,47
500,78354,NaN,Pistachio,160,119,X,179,320,B-ville,32,Pause Associates,170,156,51,48
524,78280,NaN,Pistachio,130,101,X,169,297,A-town,33,Pause Associates,900,148,4,51
536,78670,NaN,Strawberry,196,97,Y,178,334,C-borough,48,Go LLC,508,150,8,49
563,79232,NaN,Red Velvet,216,91,Z,187,299,A-town,60,Go LLC,311,149,98,61
569,78588,NaN,Chocolate,166,104,X,181,289,C-borough,55,Pause Associates,3370,164,35,40
587,78513,NaN,Mint,226,102,Z,176,292,C-borough,30,Go LLC,1054,148,10,50
593,78568,NaN,Pistachio,151,108,Z,178,292,A-town,37,Pause Associates,653,160,60,44
608,78991,NaN,Butter Pecan,188,96,Z,176,259,C-borough,23,Go LLC,831,149,4,61
639,79107,NaN,Red Velvet,212,118,Y,174,281,C-borough,64,Pause Associates,880,159,35,36
738,79092,NaN,Vanilla,244,103,NaN,175,357,A-town,53,Go LLC,2280,156,22,38
781,79157,NaN,Mint,211,101,NaN,183,316,C-borough,39,Pause Associates,1027,144,14,56
789,78702,NaN,Mint,182,104,Z,173,322,C-borough,50,Pause Associates,28,158,5,43
806,79141,NaN,Strawberry,190,103,Z,172,300,C-borough,60,Go LLC,281,151,35,64
833,78770,NaN,Cookies and Cream,173,100,Y,183,304,A-town,43,Go LLC,2196,146,32,49
839,78535,NaN,Butter Pecan,197,100,Z,180,293,C-borough,55,Go LLC,540,153,47,66
842,79263,NaN,Cheesecake,197,104,Z,174,284,B-ville,61,Go LLC,741,150,49,53
845,78377,NaN,Chocolate,209,99,Z,180,337,B-ville,64,Pause Associates,427,161,163,41
847,78453,NaN,Cookies and Cream,222,95,Y,182,274,A-town,30,Go LLC,43,153,31,40
859,78694,NaN,Cheesecake,227,99,Y,178,301,NaN,58,Go LLC,8,154,6,57
861,79136,NaN,Cookies and Cream,253,102,Y,179,254,A-town,23,Pause Associates,167,152,16,49
863,78433,NaN,Coffee,156,97,Z,176,236,C-borough,30,Go LLC,35,152,51,64
900,78333,NaN,Cheesecake,186,105,X,176,292,C-borough,37,Pause Associates,745,164,64,51
904,78464,NaN,Orange Sherbert,189,102,Z,183,298,NaN,58,Pause Associates,5785,151,14,37
938,78319,NaN,Cheesecake,139,112,Y,178,284,A-town,21,Go LLC,885,161,47,44
940,79237,NaN,NaN,210,98,Z,179,292,C-borough,51,Pause Associates,418,147,56,25
982,78767,NaN,Cheesecake,170,104,Y,173,323,A-town,36,Go LLC,915,143,145,40

In [9]:
user_info[user_info['grade'].isnull()]

,user_id,favorite_pizza_topping,favorite_ice_cream_flavor,apm,income,grade,height,reaction_time,city,age,company,kappa_ability,weight,amount,gregariousness
5,78412,Tomato,Cookies and Cream,140,104,NaN,999,276,C-borough,30,Pause Associates,755,164,54,39
25,79202,BBQ Sauce,Orange Sherbert,199,111,NaN,171,359,B-ville,60,Pause Associates,954,157,4,35
34,78342,Bacon,Neapolitan,235,93,NaN,184,320,C-borough,61,Go LLC,1137,153,27,40
47,79234,Black olives,Mint,248,99,NaN,181,331,B-ville,58,Go LLC,636,152,96,55
56,78489,Bacon,Chocolate,181,106,NaN,186,291,C-borough,48,Pause Associates,152,148,13,36
57,78608,Red peppers,Coffee,181,94,NaN,187,286,A-town,29,Go LLC,2992,152,5,50
58,79203,Red peppers,Mint,188,94,NaN,174,261,C-borough,43,Go LLC,1768,151,20,43
73,78547,Sausage,Pistachio,170,107,NaN,178,351,B-ville,37,Pause Associates,2684,156,2,46
94,78838,Bacon,Butter Pecan,195,95,NaN,179,317,A-town,60,Pause Associates,2108,150,15,30
132,79140,Pineapple,Cookies and Cream,166,103,NaN,182,247,A-town,51,Stop Inc,3271,147,4,50
134,78677,Extra cheese,Peach,172,100,NaN,180,279,A-town,26,Pause Associates,1999,148,24,39
172,78720,Black olives,Orange Sherbert,155,106,NaN,169,279,C-borough,27,Go LLC,3284,149,17,58
179,78827,Sausage,Vanilla,147,98,NaN,180,336,C-borough,34,Go LLC,1420,158,18,45
182,79015,Pineapple,Orange Sherbert,180,105,NaN,175,250,B-ville,31,Pause Associates,526,160,37,48
183,79097,Ham,Peach,184,105,NaN,182,287,A-town,24,Go LLC,610,150,26,52
217,79039,Garlic,Chocolate,161,99,NaN,168,343,A-town,30,Pause Associates,1690,161,1,55
231,79085,Garlic,Vanilla,180,107,NaN,171,308,B-ville,35,Go LLC,2435,155,52,46
241,78509,Bacon,Peach,188,102,NaN,177,318,A-town,57,Go LLC,2289,146,0,38
280,78923,Spinach,Peach,217,117,NaN,178,292,C-borough,23,Pause Associates,1323,164,5,40
284,78803,BBQ Sauce,Cookies and Cream,195,115,NaN,181,319,B-ville,45,Pause Associates,481,164,23,55
309,79196,Pineapple,NaN,255,100,NaN,182,285,A-town,28,Go LLC,487,149,11,32
376,79197,Tomato,Pistachio,143,109,NaN,179,279,A-town,55,Go LLC,503,153,3,46
377,78998,Chicken,NaN,191,110,NaN,183,300,A-town,37,Pause Associates,941,152,9,25
411,78876,Sausage,Strawberry,216,106,NaN,177,289,C-borough,44,Pause Associates,859,157,19,49
465,79129,Tomato,Vanilla,216,105,NaN,173,319,A-town,38,Go LLC,1267,164,7,37
471,78408,Basil,Cheesecake,149,105,NaN,175,345,B-ville,33,Pause Associates,1939,158,32,37
488,79114,Spinach,NaN,160,108,NaN,173,301,A-town,32,Go LLC,1496,159,66,46
510,79072,Basil,Mint,214,90,NaN,182,270,B-ville,42,NaN,4438,145,19,54
556,79213,Tomato,Cheesecake,215,105,NaN,180,337,C-borough,19,Stop Inc,930,154,16,35
571,78818,Bacon,Vanilla,155,91,NaN,179,289,A-town,20,Pause Associates,423,152,8,53
621,78966,Pineapple,Coffee,256,106,NaN,178,326,B-ville,56,Go LLC,369,160,8,63
633,78567,Pineapple,Chocolate,171,107,NaN,183,330,A-town,51,Pause Associates,1775,160,18,31
712,79217,Ham,Vanilla,223,97,NaN,184,305,C-borough,42,Pause Associates,38,153,77,66
738,79092,NaN,Vanilla,244,103,NaN,175,357,A-town,53,Go LLC,2280,156,22,38
742,78986,Bacon,Vanilla,206,101,NaN,174,359,C-borough,45,Pause Associates,1999,155,7,48
778,78604,Ham,Vanilla,199,99,NaN,184,347,C-borough,64,Pause Associates,2136,146,117,44
781,79157,NaN,Mint,211,101,NaN,183,316,C-borough,39,Pause Associates,1027,144,14,56
797,78500,Red peppers,Vanilla,126,101,NaN,179,282,A-town,29,Pause Associates,928,149,15,56
827,78706,BBQ Sauce,Cookies and Cream,216,117,NaN,176,326,A-town,32,Pause Associates,1390,159,4,49
837,78971,Ham,Cheesecake,175,106,NaN,187,280,A-town,57,Pause Associates,585,157,39,64
869,79126,Garlic,Pistachio,185,116,NaN,171,328,C-borough,27,Pause Associates,56,153,49,47
877,78671,BBQ Sauce,Orange Sherbert,199,106,NaN,175,332,B-ville,50,Pause Associates,2608,155,13,58
879,79188,Pesto,Orange Sherbert,172,117,NaN,175,287,C-borough,64,Pause Associates,36,161,18,64
954,78591,Pesto,Neapolitan,139,106,NaN,180,385,A-town,64,Pause Associates,1626,170,39,57
956,78908,Sausage,Peach,218,95,NaN,175,247,C-borough,46,Pause Associates,1986,149,22,37
979,79070,Pineapple,Coffee,178,100,NaN,184,298,C-borough,27,Go LLC,3772,147,28,55

In [10]:
user_info[user_info['city'].isnull()]

,user_id,favorite_pizza_topping,favorite_ice_cream_flavor,apm,income,grade,height,reaction_time,city,age,company,kappa_ability,weight,amount,gregariousness
28,78533,Mushrooms,Cookies and Cream,232,101,Y,176,278,NaN,31,Go LLC,815,146,5,63
60,78399,Spinach,Cheesecake,225,98,Z,174,304,NaN,39,Pause Associates,6813,150,1,44
72,79074,Tomato,Orange Sherbert,200,97,Z,176,319,NaN,60,Pause Associates,1350,145,83,45
87,78826,Extra cheese,Neapolitan,250,111,Y,172,315,NaN,33,Stop Inc,3195,147,15,56
103,78570,Salami,Vanilla,160,99,Z,180,276,NaN,52,Go LLC,170,154,17,74
109,78939,BBQ Sauce,Mint,274,105,Z,171,296,NaN,67,Go LLC,223,146,32,53
110,78703,Extra cheese,Neapolitan,267,97,Y,176,301,NaN,51,Go LLC,44,144,8,41
121,78871,Red peppers,Orange Sherbert,221,95,Y,178,335,NaN,37,Stop Inc,203,152,159,57
150,78506,Ham,NaN,210,94,Y,174,358,NaN,49,Pause Associates,2285,153,2,52
200,78623,Sausage,Red Velvet,211,99,Z,173,262,NaN,31,NaN,1567,149,0,62
265,79152,Pineapple,Cheesecake,199,100,Y,179,284,NaN,40,Pause Associates,212,146,17,56
279,78382,BBQ Sauce,Vanilla,176,113,Y,171,322,NaN,49,Pause Associates,791,161,62,45
304,78643,Pineapple,Pistachio,193,110,Y,168,334,NaN,52,Pause Associates,552,167,20,37
342,79108,Pesto,Red Velvet,166,112,X,177,295,NaN,26,Pause Associates,213,161,6,48
370,79030,Mushrooms,Chocolate,266,96,Z,172,300,NaN,42,Pause Associates,1150,144,18,47
374,78300,Extra cheese,NaN,223,107,Z,177,358,NaN,30,Pause Associates,167,154,75,39
385,79090,Spinach,Cookies and Cream,147,111,Z,183,330,NaN,20,Pause Associates,2202,160,58,56
401,78652,Chicken,Neapolitan,194,96,Z,175,290,NaN,57,Pause Associates,1074,149,83,48
428,79149,Sausage,Coffee,215,111,Y,176,296,NaN,33,NaN,502,151,4,34
451,78739,Basil,Strawberry,226,95,Z,175,265,NaN,66,Go LLC,1893,153,9,50
459,78672,Extra cheese,Strawberry,219,109,Y,175,290,NaN,52,Pause Associates,2324,148,2,47
470,78554,Red peppers,Neapolitan,184,91,Y,182,359,NaN,60,Go LLC,274,149,3,47
472,79010,Oregano,Orange Sherbert,199,92,Y,170,334,NaN,49,NaN,2114,152,7,55
501,79031,Green peppers,NaN,209,100,Z,180,262,NaN,41,Pause Associates,1384,149,48,42
509,78952,Pineapple,Peach,209,99,Z,174,295,NaN,42,Go LLC,414,157,16,59
577,78531,BBQ Sauce,Chocolate,167,107,Y,170,348,NaN,23,Pause Associates,2475,162,3,38
602,79063,Spinach,Chocolate,183,100,Y,177,259,NaN,63,NaN,756,147,9,58
645,78900,Extra cheese,Butter Pecan,174,93,Y,171,244,NaN,34,Go LLC,651,155,23,54
672,78331,Pineapple,Chocolate,142,113,Y,180,266,NaN,26,Pause Associates,6302,162,7,37
729,78409,Bacon,Strawberry,206,98,Z,181,311,NaN,55,NaN,2263,152,4,63
730,78764,Pineapple,Orange Sherbert,195,109,Y,177,316,NaN,49,Pause Associates,1081,163,53,48
761,78541,Ham,Pistachio,187,113,Y,181,373,NaN,25,Pause Associates,162,159,26,31
763,78915,Pineapple,Pistachio,191,113,Y,171,322,NaN,40,Pause Associates,794,160,25,46
811,78434,Spinach,NaN,152,114,X,174,366,NaN,19,Pause Associates,1660,158,15,39
817,79186,Sausage,Pistachio,128,106,X,175,289,NaN,59,NaN,780,157,14,55
820,78665,BBQ Sauce,Chocolate,217,110,Z,999,305,NaN,52,Pause Associates,1274,161,30,66
823,79110,Salami,Neapolitan,237,95,Z,184,328,NaN,35,Go LLC,3141,153,15,54
828,78395,Ham,Pistachio,208,114,Y,177,335,NaN,57,Stop Inc,248,159,26,64
859,78694,NaN,Cheesecake,227,99,Y,178,301,NaN,58,Go LLC,8,154,6,57
866,79161,Red peppers,Cookies and Cream,228,97,Y,172,313,NaN,69,Go LLC,764,145,9,52
887,78936,Bacon,Coffee,180,95,Y,180,295,NaN,52,Go LLC,3146,151,8,50
890,79176,Ham,Vanilla,248,103,Z,180,301,NaN,38,Pause Associates,696,146,11,49
904,78464,NaN,Orange Sherbert,189,102,Z,183,298,NaN,58,Pause Associates,5785,151,14,37
910,78815,Pesto,Mint,213,108,Z,172,303,NaN,22,Pause Associates,546,161,7,40
947,78528,Oregano,Vanilla,241,98,Z,175,309,NaN,34,NaN,832,146,52,51
951,78519,Pesto,Orange Sherbert,159,111,Y,178,258,NaN,30,Pause Associates,51,150,15,65
957,78350,Oregano,Cookies and Cream,252,99,Z,174,271,NaN,52,Pause Associates,981,154,94,41
978,78984,Tomato,NaN,187,107,X,177,295,NaN,60,Pause Associates,448,158,1,61

In [11]:
user_info[user_info['favorite_ice_cream_flavor'].isnull()]

,user_id,favorite_pizza_topping,favorite_ice_cream_flavor,apm,income,grade,height,reaction_time,city,age,company,kappa_ability,weight,amount,gregariousness
2,78816,Pineapple,NaN,180,97,Z,177,311,A-town,67,Pause Associates,4360,145,41,57
7,78276,Sausage,NaN,164,113,X,178,319,C-borough,60,Pause Associates,1715,162,16,52
51,78270,NaN,NaN,175,114,X,178,318,A-town,37,Pause Associates,141,152,19,58
63,79162,Garlic,NaN,215,112,Y,170,355,C-borough,45,Pause Associates,355,-100,11,53
96,78543,Red peppers,NaN,236,99,Z,176,252,A-town,28,Go LLC,161,149,43,46
113,78686,Tomato,NaN,178,119,Z,173,273,A-town,49,Pause Associates,850,163,5,46
114,78909,Black olives,NaN,184,98,Z,183,318,A-town,57,Go LLC,2405,148,19,47
123,78863,Sausage,NaN,180,96,Y,173,305,A-town,23,Go LLC,3569,151,4,24
150,78506,Ham,NaN,210,94,Y,174,358,NaN,49,Pause Associates,2285,153,2,52
152,79057,BBQ Sauce,NaN,202,107,X,178,328,C-borough,58,Pause Associates,215,160,8,59
206,78530,Red peppers,NaN,154,102,Z,175,338,C-borough,46,Go LLC,292,151,61,34
216,78436,Ham,NaN,208,96,Z,174,290,C-borough,38,Go LLC,1495,159,25,47
237,79067,Pesto,NaN,117,106,Y,999,266,B-ville,38,Pause Associates,4109,162,27,37
258,78578,Red peppers,NaN,178,97,Y,175,310,A-town,23,Pause Associates,2042,149,18,36
261,78292,Extra cheese,NaN,223,95,Y,180,312,A-town,55,Pause Associates,3751,146,29,64
273,78941,Extra cheese,NaN,174,93,Z,180,274,C-borough,22,Pause Associates,233,147,61,61
285,78654,Ham,NaN,235,94,Y,999,310,C-borough,69,NaN,323,146,97,50
290,78948,Ham,NaN,136,106,Y,176,320,A-town,49,Go LLC,2049,158,22,41
299,79096,Pineapple,NaN,189,100,X,181,312,C-borough,39,Stop Inc,2765,152,1,57
309,79196,Pineapple,NaN,255,100,NaN,182,285,A-town,28,Go LLC,487,149,11,32
340,78794,Bacon,NaN,206,89,X,176,287,C-borough,64,Go LLC,475,154,29,53
374,78300,Extra cheese,NaN,223,107,Z,177,358,NaN,30,Pause Associates,167,154,75,39
377,78998,Chicken,NaN,191,110,NaN,183,300,A-town,37,Pause Associates,941,152,9,25
399,78710,Red peppers,NaN,237,103,Z,172,246,A-town,54,Pause Associates,754,152,1,58
441,78921,Salami,NaN,198,106,Z,180,305,C-borough,26,Pause Associates,105,456,4,33
449,79194,Pineapple,NaN,180,93,Z,184,332,C-borough,56,Go LLC,4762,143,27,44
481,78659,Green peppers,NaN,184,99,Z,173,284,A-town,38,Go LLC,1299,151,32,50
487,78744,Mushrooms,NaN,168,101,Y,181,307,A-town,39,Go LLC,1050,148,41,53
488,79114,Spinach,NaN,160,108,NaN,173,301,A-town,32,Go LLC,1496,159,66,46
501,79031,Green peppers,NaN,209,100,Z,180,262,NaN,41,Pause Associates,1384,149,48,42
518,78920,Basil,NaN,171,99,Y,170,341,A-town,52,Pause Associates,651,151,86,34
541,78774,Pesto,NaN,204,109,X,177,318,A-town,49,Pause Associates,493,161,16,48
560,79045,Pepperoni,NaN,202,111,Y,175,359,A-town,29,Go LLC,2171,161,0,55
611,79151,Spinach,NaN,166,113,Y,182,310,A-town,24,Go LLC,234,159,77,49
618,79206,Chicken,NaN,130,97,Z,179,295,A-town,24,Go LLC,210,151,66,41
638,78960,Sausage,NaN,200,93,Z,181,290,C-borough,24,Go LLC,329,149,37,55
666,78728,Mushrooms,NaN,165,111,Z,174,289,C-borough,29,Pause Associates,4057,166,17,45
697,78795,Red peppers,NaN,232,100,Y,181,303,C-borough,66,Pause Associates,1581,151,8,57
737,78370,Spinach,NaN,196,113,Z,182,284,A-town,43,Stop Inc,148,159,37,38
769,79255,Bacon,NaN,212,105,Y,178,279,C-borough,63,Go LLC,547,143,42,41
782,78758,Oregano,NaN,158,93,Z,175,276,A-town,22,Go LLC,2321,145,70,58
798,78811,Red peppers,NaN,273,105,X,182,302,A-town,44,Go LLC,486,148,4,56
801,78809,Extra cheese,NaN,179,98,Y,174,314,A-town,53,Pause Associates,713,144,11,51
804,79212,Pineapple,NaN,223,102,Y,181,310,A-town,62,Go LLC,1110,146,12,58
811,78434,Spinach,NaN,152,114,X,174,366,NaN,19,Pause Associates,1660,158,15,39
822,78380,Basil,NaN,181,95,Z,181,326,A-town,62,Pause Associates,3507,154,20,51
883,78735,Spinach,NaN,158,113,Y,175,362,A-town,43,Go LLC,1013,158,30,42
893,78947,Ham,NaN,191,104,Y,177,296,A-town,35,Stop Inc,1128,146,14,51
936,79120,Sausage,NaN,186,98,Z,175,272,A-town,31,Pause Associates,388,152,21,26
940,79237,NaN,NaN,210,98,Z,179,292,C-borough,51,Pause Associates,418,147,56,25
958,79199,Extra cheese,NaN,216,99,Z,179,266,A-town,38,Pause Associates,1655,150,45,65
970,78468,Spinach,NaN,136,102,Y,177,321,C-borough,24,Pause Associates,1187,150,35,45
978,78984,Tomato,NaN,187,107,X,177,295,NaN,60,Pause Associates,448,158,1,61
984,78413,Spinach,NaN,225,97,Z,184,280,A-town,35,Pause Associates,21,149,15,72
998,78345,Spinach,NaN,194,102,Y,172,372,B-ville,45,NaN,932,147,7,46

In [12]:
user_info[user_info['company'].isnull()]

,user_id,favorite_pizza_topping,favorite_ice_cream_flavor,apm,income,grade,height,reaction_time,city,age,company,kappa_ability,weight,amount,gregariousness
9,79139,Tomato,Cheesecake,129,111,Z,177,396,A-town,22,NaN,3653,157,44,45
16,78746,Pineapple,Cheesecake,163,120,Z,181,349,C-borough,41,NaN,1259,165,32,53
17,78385,Pineapple,Red Velvet,204,98,Z,173,356,A-town,37,NaN,4725,148,8,41
18,78723,Ham,Orange Sherbert,173,101,Z,181,336,B-ville,21,NaN,450,150,2,65
50,78346,Extra cheese,Peach,196,104,Z,171,290,C-borough,69,NaN,1915,142,15,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
947,78528,Oregano,Vanilla,241,98,Z,175,309,NaN,34,NaN,832,146,52,51
974,78707,BBQ Sauce,Coffee,191,109,Y,178,379,C-borough,47,NaN,59,165,4,56
980,78639,Pesto,Neapolitan,168,99,Y,178,293,C-borough,40,NaN,1764,154,26,51
988,79075,Pineapple,Cheesecake,184,115,Y,176,339,A-town,57,NaN,85,163,82,40
998,78345,Spinach,NaN,194,102,Y,172,372,B-ville,45,NaN,932,147,7,46

In [13]:
df_corr = user_info.copy()

# 2. Creating a new feature called missing and checking the correlation

In [14]:
#Creating new feature for missing value

df_corr['favorite_pizza_topping_Missing']=np.where(df_corr['favorite_pizza_topping'].isnull(),1,0)
df_corr['grade_Missing']=np.where(df_corr['grade'].isnull(),1,0)
df_corr['city_Missing']=np.where(df_corr['city'].isnull(),1,0)
df_corr['favorite_ice_cream_flavor_Missing']=np.where(df_corr['favorite_ice_cream_flavor'].isnull(),1,0)
df_corr['company_Missing']=np.where(df_corr['company'].isnull(),1,0)

In [15]:
df_corr.drop(columns=['user_id'],axis=1, inplace=True)
df_corr.head(3)

,favorite_pizza_topping,favorite_ice_cream_flavor,apm,income,grade,height,reaction_time,city,age,company,kappa_ability,weight,amount,gregariousness,favorite_pizza_topping_Missing,grade_Missing,city_Missing,favorite_ice_cream_flavor_Missing,company_Missing
0,Pineapple,Red Velvet,154,100,Z,176,353,A-town,47,Pause Associates,6291,149,10,48,0,0,0,0,0
1,Ham,Red Velvet,193,95,Y,182,250,C-borough,20,Go LLC,4765,-234,19,62,0,0,0,0,0
2,Pineapple,NaN,180,97,Z,177,311,A-town,67,Pause Associates,4360,145,41,57,0,0,0,1,0

Checking correaltion among missing values

In [16]:
columns = ['favorite_pizza_topping_Missing','grade_Missing','city_Missing','favorite_ice_cream_flavor_Missing','company_Missing']
df_miss = df_corr[columns]

In [17]:
for feature in df_miss:
    print('Correction of',feature,'with :',df_corr.corr()[feature])
    print('---------------------------------------------------')

Correction of favorite_pizza_topping_Missing with : apm                                 -0.044170
income                              -0.007755
height                              -0.025722
reaction_time                       -0.029735
age                                 -0.020190
kappa_ability                       -0.038089
weight                              -0.005365
amount                               0.041865
gregariousness                       0.001453
favorite_pizza_topping_Missing       1.000000
grade_Missing                        0.000518
city_Missing                        -0.001476
favorite_ice_cream_flavor_Missing   -0.007892
company_Missing                     -0.034675
Name: favorite_pizza_topping_Missing, dtype: float64
---------------------------------------------------
Correction of grade_Missing with : apm                                 -0.023078
income                               0.031324
height                               0.012510
reaction_time                        0.022917
age                                 -0.031753
kappa_ability                       -0.015392
weight                              -0.003664
amount                              -0.041992
gregariousness                      -0.044197
favorite_pizza_topping_Missing       0.000518
grade_Missing                        1.000000
city_Missing                        -0.049307
favorite_ice_cream_flavor_Missing    0.009841
company_Missing                     -0.037291
Name: grade_Missing, dtype: float64
---------------------------------------------------
Correction of city_Missing with : apm                                  0.087430
income                               0.007854
height                               0.005969
reaction_time                        0.005756
age                                  0.011473
kappa_ability                       -0.029106
weight                              -0.009257
amount                              -0.036413
gregariousness                       0.037869
favorite_pizza_topping_Missing      -0.001476
grade_Missing                       -0.049307
city_Missing                         1.000000
favorite_ice_cream_flavor_Missing    0.048426
company_Missing                      0.076554
Name: city_Missing, dtype: float64
---------------------------------------------------
Correction of favorite_ice_cream_flavor_Missing with : apm                                 -0.013776
income                              -0.013141
height                               0.039532
reaction_time                        0.013237
age                                 -0.019836
kappa_ability                       -0.039623
weight                              -0.009948
amount                              -0.012094
gregariousness                      -0.031444
favorite_pizza_topping_Missing      -0.007892
grade_Missing                        0.009841
city_Missing                         0.048426
favorite_ice_cream_flavor_Missing    1.000000
company_Missing                     -0.026448
Name: favorite_ice_cream_flavor_Missing, dtype: float64
---------------------------------------------------
Correction of company_Missing with : apm                                  0.051054
income                              -0.014256
height                              -0.000721
reaction_time                        0.032669
age                                 -0.007695
kappa_ability                        0.004364
weight                               0.025630
amount                              -0.018954
gregariousness                       0.062328
favorite_pizza_topping_Missing      -0.034675
grade_Missing                       -0.037291
city_Missing                         0.076554
favorite_ice_cream_flavor_Missing   -0.026448
company_Missing                      1.000000
Name: company_Missing, dtype: float64
---------------------------------------------------

# From above results we observe no strong correlation between the missing values, so these values are missing at random

3. Apply machine learning algorithm to check if there is any pattern in the data {If you get good accuracy then that means there is some pattern else the data is missing at random}

# Randam Sample imputation on missing values

In [18]:
df = user_info.copy()

In [19]:
def impute_nan(df,variable):
    df[variable+"_Not_NA"]=df[variable]
    ##It will have the random sample to fill the na
    no_na=df[variable].dropna().sample(df[variable].isnull().sum(),random_state=0)
    ##pandas need to have same index in order to merge the dataset
    no_na.index=df[df[variable].isnull()].index
    df.loc[df[variable].isnull(),variable+'_Not_NA']=no_na

In [20]:
impute_nan(df,'favorite_pizza_topping')
impute_nan(df,'grade')
impute_nan(df,'city')
impute_nan(df,'favorite_ice_cream_flavor')
impute_nan(df,'company')
df.drop(columns=['favorite_pizza_topping','favorite_ice_cream_flavor','grade','city','company'], axis=1, inplace=True)
df.isnull().sum()

user_id                             0
apm                                 0
income                              0
height                              0
reaction_time                       0
age                                 0
kappa_ability                       0
weight                              0
amount                              0
gregariousness                      0
favorite_pizza_topping_Not_NA       0
grade_Not_NA                        0
city_Not_NA                         0
favorite_ice_cream_flavor_Not_NA    0
company_Not_NA                      0
dtype: int64

# Data pre-processing of churn

In [21]:
churn.isnull().sum()

user_id    0
churn      0
dtype: int64

In [22]:
churn['churn'] = churn['churn'].apply(lambda x: 1 if x == 'yes' else 0)

In [23]:
churn.head()

   user_id  churn
0    79153      0
1    78612      1
2    78875      1
3    78406      0
4    79086      1

# Data pre-processing of activity_record

In [24]:
activity_record.isnull().sum()

user_id      0
event        0
timestamp    0
dtype: int64

Sorting the activity record by user_id

In [25]:
activity_record = activity_record.sort_values(by=['user_id'])
activity_record = activity_record.reset_index()
activity_record.drop(columns =['index'],axis=1,inplace=True)
activity_record.head(3)

   user_id             event                      timestamp
0    78268     product_visit  2015-01-25 20:42:14.000000000
1    78268            signup  2015-01-04 12:55:11.000000000
2    78268  account_verified  2015-01-07 02:10:10.000000000

In [26]:
act_rec=activity_record.copy()

In [27]:
act_rec['timestamp'] = pd.to_datetime(act_rec['timestamp'], infer_datetime_format=True)

In [28]:
act_rec['days'] = act_rec['timestamp']-act_rec['timestamp'].shift(1)

In [29]:
act_rec.head()

   user_id             event           timestamp               days
0    78268     product_visit 2015-01-25 20:42:14                NaT
1    78268            signup 2015-01-04 12:55:11 -22 days +16:12:57
2    78268  account_verified 2015-01-07 02:10:10    2 days 13:14:59
3    78268     product_visit 2015-01-10 19:01:06    3 days 16:50:56
4    78268       product_use 2015-01-25 21:19:27   15 days 02:18:21

In [30]:
act_rec.dtypes

user_id                int64
event                 object
timestamp     datetime64[ns]
days         timedelta64[ns]
dtype: object

In [31]:
act_rec[['nDays','time']] = act_rec['days'].astype(str).str.split(' days', expand=True)

In [32]:
act_rec.head()

,user_id,event,timestamp,days,nDays,time
0,78268,product_visit,2015-01-25 20:42:14,NaT,NaT,None
1,78268,signup,2015-01-04 12:55:11,-22 days +16:12:57,-22,+16:12:57
2,78268,account_verified,2015-01-07 02:10:10,2 days 13:14:59,2,13:14:59
3,78268,product_visit,2015-01-10 19:01:06,3 days 16:50:56,3,16:50:56
4,78268,product_use,2015-01-25 21:19:27,15 days 02:18:21,15,02:18:21

In [33]:
act_rec['nDays'].values[0] = 0
act_rec['nDays'] = act_rec['nDays'].astype(int)

In [34]:
act_rec.dtypes

user_id                int64
event                 object
timestamp     datetime64[ns]
days         timedelta64[ns]
nDays                  int64
time                  object
dtype: object

In [35]:
act_rec.loc[act_rec['nDays']<=0,'nDays']=0
act_rec.loc[act_rec['event']=='signup','nDays']=0
act_rec.loc[act_rec['event']=='signup','time']=0

In [36]:
act_rec.drop(columns=['time','days','timestamp'], axis=1, inplace=True)

In [37]:
act_rec.head()

   user_id             event  nDays
0    78268     product_visit      0
1    78268            signup      0
2    78268  account_verified      2
3    78268     product_visit      3
4    78268       product_use     15

In [38]:
act_rec_new = pd.pivot_table(act_rec, values="nDays", index=['user_id'], columns=["event"], aggfunc=np.sum, fill_value=0)

In [39]:
act_rec_new.head()

event,account_verified,product_request_support,product_upgrade,product_use,product_visit,signup
user_id,,,,,,
78268,2,0,0,15,3,0
78269,0,0,0,0,47,0
78270,8,0,0,0,33,0
78271,0,0,0,19,33,0
78272,0,0,0,0,54,0

In [40]:
for feature in act_rec_new:
    print('Column',feature,'has', act_rec_new[feature].unique().sum(),'number of values filled in it')
    uni = act_rec_new[feature].unique().sum()/len(act_rec_new)
    print('Percantage of unique values', uni)
    print('-----------------------------------------------')

Column account_verified has 67651 number of values filled in it
Percantage of unique values 67.651
-----------------------------------------------
Column product_request_support has 318 number of values filled in it
Percantage of unique values 0.318
-----------------------------------------------
Column product_upgrade has 11 number of values filled in it
Percantage of unique values 0.011
-----------------------------------------------
Column product_use has 34281 number of values filled in it
Percantage of unique values 34.281
-----------------------------------------------
Column product_visit has 392997 number of values filled in it
Percantage of unique values 392.997
-----------------------------------------------
Column signup has 0 number of values filled in it
Percantage of unique values 0.0
-----------------------------------------------

Dropping signup, product_upgrade, product_request_support because they are less than one percentage

In [41]:
act_rec_new.drop(columns=['signup','product_upgrade','product_request_support'], axis=1, inplace=True)

In [42]:
act_rec_new.head()

event    account_verified  product_use  product_visit
user_id
78268                   2           15              3
78269                   0            0             47
78270                   8            0             33
78271                   0           19             33
78272                   0            0             54

# Sorting dataframes by user_id

In [43]:
user_info = user_info.sort_values(by=['user_id'])
user_info = user_info.reset_index()
user_info.drop(columns =['index'], axis= 0, inplace=True)
user_info.head(3)

,user_id,favorite_pizza_topping,favorite_ice_cream_flavor,apm,income,grade,height,reaction_time,city,age,company,kappa_ability,weight,amount,gregariousness
0,78268,Spinach,Mint,171,104,X,177,295,C-borough,52,Pause Associates,3363,144,19,57
1,78269,Oregano,Pistachio,218,96,Y,178,305,C-borough,33,Pause Associates,1720,147,57,48
2,78270,NaN,NaN,175,114,X,178,318,A-town,37,Pause Associates,141,152,19,58

In [44]:
churn = churn.sort_values(by=['user_id'])
churn = churn.reset_index()
churn.drop(columns =['index'],axis=1,inplace=True)
churn.head(3)

   user_id  churn
0    78268      0
1    78269      0
2    78270      1

# Merging the dataframes

In [45]:
df_final = df.merge(act_rec_new, how='left', on='user_id')

In [46]:
df_final.head(3)

,user_id,apm,income,height,reaction_time,age,kappa_ability,weight,amount,gregariousness,favorite_pizza_topping_Not_NA,grade_Not_NA,city_Not_NA,favorite_ice_cream_flavor_Not_NA,company_Not_NA,account_verified,product_use,product_visit
0,78389,154,100,176,353,47,6291,149,10,48,Pineapple,Z,A-town,Red Velvet,Pause Associates,0,23,91
1,79235,193,95,182,250,20,4765,-234,19,62,Ham,Y,C-borough,Red Velvet,Go LLC,7,35,44
2,78816,180,97,177,311,67,4360,145,41,57,Pineapple,Z,A-town,Strawberry,Pause Associates,0,0,81

In [47]:
df_final = df_final.merge(churn, how='inner', on='user_id')

In [48]:
df_final.head(3)

,user_id,apm,income,height,reaction_time,age,kappa_ability,weight,amount,gregariousness,favorite_pizza_topping_Not_NA,grade_Not_NA,city_Not_NA,favorite_ice_cream_flavor_Not_NA,company_Not_NA,account_verified,product_use,product_visit,churn
0,78389,154,100,176,353,47,6291,149,10,48,Pineapple,Z,A-town,Red Velvet,Pause Associates,0,23,91,0
1,79235,193,95,182,250,20,4765,-234,19,62,Ham,Y,C-borough,Red Velvet,Go LLC,7,35,44,0
2,78816,180,97,177,311,67,4360,145,41,57,Pineapple,Z,A-town,Strawberry,Pause Associates,0,0,81,0

In [49]:
df_final.to_csv('Cleaned_Customer_churn.csv', encoding='utf-8', index=False)